/* Variable definition */
:root {
  --primary-color: #70b2dd;
}

html, body {
  background-color: var(--primary-color);
  height: 100%;
}

.container {
  margin: 0;
  max-width: 100%;
}

.alert {
  margin-bottom: 0;
}
