/* Variable definition */
:root {
  --primary-color: #70b2dd;
  --primary-lighter: #90d2fd;
  --primary-darker: #30729d;
}

html, body {
  background-color: var(--primary-color);
  height: 100%;
}

.container {
  margin: 0;
  max-width: 100%;
}

.alert {
  margin-bottom: 0;
}

.primary-button {
  background-color: var(--primary-darker);
  border: none;
}