.meeting {
  padding: 1rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}

.std-margin {
  margin: 1rem;
}

.details {
  background-color: var(--primary-lighter);
  border: 1px black solid;
  border-radius: 5px;
  margin: 1rem 0;
}
